<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="form-container">
    <h2 >Signup</h2>
    <form action="/signup/" method="post">
        {% csrf_token %}
<h3>Username:</h3>
    <input class="input" type="text" name="username">
    <h3>Email:</h3>
    <input class="input" type="email" name="email">
    <h3>Password:</h3>
    <input class="input" type="password" name="password">
    <br><br>
    <button class="button" type="submit" >Sign Up</button> 
    <h4 style="text-align: center;">Already have an account ?<a href="http://127.0.0.1:8000/login/">login</a></h4>   
</form>
</div>
</body>
</html>